:root {
  --primary-color: #fc8019;
  --text-black: rgba(31, 31, 30, 0.979);
  --banner-color: #171a29;
  --rating-bg-color: #48c479;
  --white: #fff;
  --cuisine-color: #535665;
}

@font-face {
  font-family: Sofia Sans;
  src: url("https://fonts.google.com/specimen/Sofia+Sans");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  /* background-color: aqua; */
  display: flex;
  width: 100%;
  align-items: center;
  box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
  padding: 16px;
  height: 80px;
  /* position: fixed; */
  justify-content: space-around;
}

.img-container {
  width: 75px;
}

.img-container > img {
  max-width: 100%;
}

.inp {
  outline: none;
  border: 1px solid rgb(223, 218, 218);
  padding: 12px;
  width: 16rem;
  border-radius: 2px;
}
.material-symbols-outlined.icon {
  font-size: 40px;
  cursor: pointer;
}

.list-items {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: 4px;
}

.list-items > li {
  padding: 8px;
}

.body {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 2;
}

.flex {
  display: flex;
}

.restaurant-rating.flex {
  align-items: center;
}

.restaurant-card {
  border: 1px solid var(--white);
  padding: 20px;
  width: 16rem;
}

.align-left {
  text-align: left;
}

.restaurant-name {
  color: var(--text-black);
  font-size: 17px;
  font-weight: 500;
}

.restaurant-cuisine {
  color: #686b78;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 400;
}

.restaurant-headings {
  margin-top: 12px;
}

.restaurant-rating {
  padding: 2px 4px;
  color: var(--white);
  font-size: 12px;
  width: 45px;
  font-weight: 400;
  background-color: var(--rating-bg-color);
}

.restaurant-card > img {
  width: 100%;
}

.star {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 48;
  font-size: 16px;
  margin-right: 2px;
  position: relative;
  bottom: 2px;
}

.star-detail {
  position: relative;
  top: 1.5px;
  font-size: 20px;
}

.restaurant-card-footer {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.restaurant-card:hover {
  border: 1px solid rgb(221, 215, 215);
  box-shadow: 2px 2px 102px 100px rgba(238, 232, 232, 0.2);
}

.restaurant-delivery,
.restaurant-cost {
  color: var(--cuisine-color);
  font-size: 12px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.btn {
  padding: 10px;
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(238, 144, 21, 0.2);
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
  scale: 1.02;
}

.body > div {
  text-align: center;
}

.body > div > input {
  margin-right: 16px;
}

.inp:focus {
  border: 1px solid #fc8019;
}

.shimmer-card {
  position: relative;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  border-radius: 2px;
  width: 16rem;
  /* height: 500px; */
  overflow: hidden;
  margin: 40px auto;
}

.shimmerBG {
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #ddd;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 1200px 100%;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}

.p-32 {
  padding: 32px;
}

.title-line {
  height: 24px;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 20px;
}

.content-line {
  height: 8px;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 8px;
}

.end {
  width: 40%;
}

.m-t-24 {
  margin-top: 24px;
}

.media {
  height: 150px;
}

.banner {
  background-color: var(--banner-color);
  height: 250px;
  margin-top: 1.9rem;
  display: flex;
  padding: 0 5rem;
  gap: 4rem;
  align-items: center;
}

.banner-img-container {
  min-width: 250px;
  max-width: 250px;
}

.banner-img-container > img {
  width: 100%;
}

.banner-info-container {
  position: relative;
  top: -5px;
  flex-grow: 2;
}

.banner-heading {
  color: var(--white);
}

.banner-cuisines {
  color: var(--white);
  opacity: 0.8;
}

.banner-restaurant-rating-container {
  display: flex;
  width: 250px;
  justify-content: space-between;
  color: var(--white);
  margin-top: 20px;
}

.banner-cuisines-container {
  margin-top: 8px;
}

.banner-cuisines {
  margin-top: 12px;
}

.banner-restaurant-rating-container > * {
  font-size: 20px;
  font-weight: bold;
}

.banner-restaurant-rating-container > :first-child {
  position: relative;
  top: -2px;
}

.banner-offer-container {
  color: var(--white);
  max-width: 300px;
}

.discount {
  padding: 16px;
}

.discount > h2 {
  font-size: 16px;
  font-weight: 300;
  margin-top: 12px;
}

.restaurant-dish-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 2rem;
}

.restaurant-dish-card-container {
  margin-top: 2rem;
  padding: 0 4rem;
  display: flex;
  gap: 4rem;
  /* max-width: 45rem; */
  min-width: 10rem;
}

.restaurant-dish-detail {
  flex-grow: 2;
}

.restaurant-dish-img {
  max-width: 10rem;
  position: relative;
}

.restaurant-dish-img > img {
  border-radius: 8px;
  width: 100%;
}

.dish-description {
  margin-top: 1rem;
  color: var(--cuisine-color);
  opacity: 0.7;
}

.dishname,
.dishprice {
  color: var(--text-black);
  opacity: 0.8;
}

.border-line {
  border-bottom: 0.5px solid #515253;
  height: 1px;
  padding: 0 12px;
  margin: 20px 0;
}

.btn-container {
  position: absolute;
  bottom: -5px;
  left: 35px;
  /* left: -0%; */
  background-color: var(--white);
  border: 1px solid #d4d5d9;
  height: 30px;
}
.add-btn {
  /* position: absolute;
  top: 85px;
  left: 30px; */
  width: 90px;
  height: 30px;
  border-radius: 2px;
  padding: 2px 8px;
  background-color: var(--white);
  color: #60b246;
  font-size: 1rem;
  font-weight: bolder;
  border: none;
  opacity: 0.7;
  cursor: pointer;
}

.add-btn:hover {
  scale: 1.05;
}

.link {
  text-decoration: none;
}

.form-container {
  border: 1px solid rgb(175, 172, 172);
  border-radius: 4px;
  max-width: 25rem;

  margin: 0 auto;
  margin-top: 1.5rem;
  padding: 2rem;
  box-shadow: 5px 5px 5px rgba(212, 209, 209, 0.918);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form > .txt-inp {
  padding: 0.5rem;
  border: 2px solid rgb(156, 156, 156);
  outline: none;
  border-radius: 4px;
}

.submit-btn {
  padding: 0.5rem;
  cursor: pointer;
  background-color: #48c479;
  border: none;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 8px;
}
